name: Build Minecraft Mod
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        # Указываем путь, где реально лежат файлы gradlew и build.gradle
        working-directory: BetterSprint-1.21/BetterSprint-1.21
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BetterSprint-Jar
          path: BetterSprint-1.21/BetterSprint-1.21/build/libs/*.jar
