name: Build Mod
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        # Мы заходим в самую глубокую папку, где лежит файл gradlew, и запускаем сборку
        run: |
          cd BetterSprint-1.21-main/BetterSprint-1.21-main
          chmod +x gradlew
          ./gradlew build

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: BetterSprint-Mod
          path: BetterSprint-1.21-main/BetterSprint-1.21-main/build/libs/*.jar
